{% extends 'base.html' %}

{% block title %}
Покупка : {{ block.super }}
{% endblock %}

{% block content %}

<h1>Покупка</h1>
 <form class="BuyCrypt" action="{% url 'buy_crypt' %}" method="post">
     {% csrf_token %}
     <select name="crypt_id" id="crypt" required>
                <option value="0" selected disabled>Выберите валюту</option>
                {% for obj in objectlist %}
                <option value="{{ obj.id }}">{{ obj.name_crypt }} </option>
                {% endfor %}
            </select>

          {{ form.as_p }}


     <button type="submit" class="btn btn-primary btn-block">Купить</button>
</form>
{% endblock %}